# ruby management
.rvmrc
.rbenv-version

# bundler state
Gemfile.lock
/.bundle
/vendor/bundle/

# scm revert files
**.orig

# mac finder poop
.DS_Store

# netbeans project directory
/nbproject/

# textmate project files
/*.tmpproj

# vim poop
**.swp
